<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='md-ribbon' is-active="false"></ion-icon> Crear experiencia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="guay">
  <div class="guay">
    <form [formGroup]="createExperienceForm" (ngSubmit)="createExperience()">
      <fieldset>
        <legend><span class="number">1</span> Info Experiencia</legend>
          <ion-label>Nombre</ion-label>
          <ion-input type="text" formControlName="name" placeholder="Min. 3 caracteres"></ion-input>
        <p color="danger" ion-text *ngIf="createExperienceForm.get('name').hasError('minlength')">Mínimo 3 caracteres</p>
        <ion-label>Fecha</ion-label>
          <ion-datetime class="date" formControlName="date"></ion-datetime>
      </fieldset>
      <fieldset>
        <legend><span class="number">2</span> Info adicional</legend>
          <ion-label>Descripción</ion-label>
          <ion-textarea class="area" type="textarea" formControlName="description" placeholder="Min. 6 caracteres"></ion-textarea>
        <p color="danger" ion-text *ngIf="createExperienceForm.get('description').hasError('minlength')">Mínimo 6 caracteres</p>
      </fieldset>
      <button class="enter" ion-button round type="submit" [disabled]="!createExperienceForm.valid">Crear</button>
    </form>
  </div>
</ion-content>
