<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='ios-person-add' is-active="false"></ion-icon> Registrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="content-align-wrapper">
    <div class="content-align">

      <form [formGroup]="registerForm" (ngSubmit)="register()">

        <img src="assets/imgs/logo.png" class="gsad-icon"/>

        <fieldset>
          <legend class="legend"><span class="number">1</span>Tu perfil</legend>

          <ion-label>Rol*</ion-label>
          <ion-select [(ngModel)]="userType" class="rol" formControlName="type" >
            <ion-option value="teacher">Profesor</ion-option>
            <ion-option value="alum">Alumno</ion-option>
          </ion-select>

        </fieldset>

        <fieldset>
          <legend class="legend"><span class="number">2</span>Información básica</legend>

            <ion-label>Nombre*:</ion-label>
            <ion-input type="text" formControlName="name" ></ion-input>
          <p class="dos" color="danger" ion-text *ngIf="registerForm.get('name').hasError('pattern')">Caracteres inválidos</p>

          <ion-label>Apellidos*:</ion-label>
            <ion-input type="text" formControlName="surname" ></ion-input>
          <p class="dos" color="danger" ion-text *ngIf="registerForm.get('surname').hasError('pattern')">Caracteres inválidos</p>

            <ion-label>Correo electrónico*:</ion-label>
            <ion-input type="email" formControlName="email" (ionblur)="validateEmail()"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="registerForm.get('email').hasError('pattern')">Correo inválido</p>


          <ion-label>Teléfono*:</ion-label>
            <ion-input type="tel" formControlName="phone" ></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="registerForm.get('phone').hasError('pattern')">Teléfono inválido</p>


          <ion-label>Dirección*:</ion-label>
            <ion-input type="text" formControlName="address" ></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="registerForm.get('address').hasError('minlength')">Mínimo 5 caracteres</p>

          <ion-label>Descripción*:</ion-label>
          <ion-textarea formControlName="bio" ></ion-textarea>


          <div *ngIf="userType=='teacher'">
            <ion-label>Perfil profesional*:</ion-label>
            <ion-input type="text" formControlName="linkedin" ></ion-input>
            <p class="uno" color="danger" ion-text *ngIf="registerForm.get('linkedin').hasError('pattern')">Debe ser una URL</p>
          </div>



          <div class="password-input">
              <ion-label>Contraseña*:</ion-label>
              <ion-input [type]="show ? 'text' : 'password'" formControlName="password"></ion-input>
            <p class="uno" color="danger" ion-text *ngIf="registerForm.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
            <a (click)="togglePassword()">{{ show ? 'ocultar' : 'mostrar' }}</a>
          </div>

        </fieldset>



        <button class="enter" ion-button type="submit" [disabled]="!registerForm.valid">Registrar</button>

      </form>
    </div>
  </div>

</ion-content>

