page-register {
  form {
    position: relative;
    max-width: 800px;
    margin: 10px auto;
    padding: 6px 15px;
    border-radius: 8px;
  }

  .content-align-wrapper {
     .content-align {
       text-align: center;
       img {
         margin-top: 5px;
         width: 90px;
         margin-bottom: 25px;
       }

       ion-label{
         font-family: 'Nunito', sans-serif;
         color: #384047;
         text-align: left;
         font-size: 16px;
       }

       ion-input, ion-textarea {
         background: rgba(255,255,255,0.1);
         border: none;
         font-size: 16px;
         height: auto;
         margin: 0;
         outline: 0;
         padding: 4px;
         width: 100%;
         background-color: #e8eeef;
         color: #8a97a0;
         box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
         margin-bottom: 30px;
       }

       .password-input {
         position: relative;
         color: black;
         a {
           padding-right: 8px;
           position: absolute;
           bottom: 13px;
           right: 0;
           font-size: 16px;
           color: rgba(0, 0, 0, 0.38);
         }
       }

       .forgot-password-wrapper {
         text-align: left;
         margin-top: 70px;
         .forgot-password {
           font-size: 14px;
           line-height: 1.14;
           background: none;
           color: rgba(0, 0, 0, 0.38);
         }
       }

       .remember-input {
         .item .item-inner {
           border: none !important;
         }

         ion-checkbox.checkbox {
           margin: 17px 18px 0 0;
         }
       }

       .number {
         background-color: #4D9BBA;
         color: #fff;
         height: 30px;
         width: 30px;
         display: inline-block;
         font-size: 0.8em;
         margin-right: 6px;
         margin-left: 4px;
         line-height: 30px;
         text-align: center;
         text-shadow: 0 1px 0 rgba(255,255,255,0.2);
         border-radius: 100%;
       }

       .legend{
         margin-right: 4px;
       }

       fieldset {
         margin-bottom: 0px;
         border: none;
         color: #4D9BBA;
         font-size: 18px;
         font-family: 'Nunito', sans-serif;
       }

       button.enter {
         margin-top: 14px;
         padding: 19px 39px 18px 39px;
         color: #FFF;
         background-color: #4D9BBA;
         font-size: 18px;
         text-align: center;
         font-style: normal;
         border-radius: 5px;
         width: 100%;
         border: 1px solid #4071A3;
         border-width: 2px;
         box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
         margin-bottom: 10px;
       }

       button.enter:hover{
         background: #4071A3;
       }

       .rol{
         position: relative;
         background: rgba(255,255,255,0.1);
         border: none;
         font-size: 16px;
         height: auto;
         margin: 0;
         outline: 0;
         padding: 10px;
         width: 100%;
         background-color: #e8eeef;
         color: #8a97a0;
         box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
         margin-bottom: 30px;
         text-align: left;
         border-radius: 2px;
       }
       .uno{
         font-size: 14px;
         margin-top: -20px;
         text-align: left;
       }
       .dos{
         font-size: 14px;
         margin-top: -10px;
         text-align: left;
       }

     }
   }
}


