my-offers {

  ion-list{
    position: relative;
    border-radius: 8px;
  }

  .button {
    bottom: 0;
    margin-bottom: 0;
    height: 4em;
  }

  ion-item:last-child {
    margin-bottom: 5em;
  }

  .botones{float:right;}

  .botonfinal{
    position:sticky;
    width: 100%;
    height: 8%;
    padding:18px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    margin:5px;
  }

  .botonfinal:hover{
    color: white;
    font-weight: 500;
    background-color: #0C85DF;
  }

  ion-list .item .item-inner{
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    resize: none;
    border: 4px solid #488aff;
  }

  ion-list .item .first .icon {
    margin-left: 15px;
  }

  .first{float:left;}

  .second{float:right;}

}
