<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='ios-school' is-active="false"></ion-icon> Clases</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let offer of offers">
      <div class="first">
        <h4><ion-icon name='ios-book' is-active="false"></ion-icon> {{offer.name}}</h4>
        <h4 class="mod" float="right"><ion-icon name='ios-pin' color="danger" is-active="false"></ion-icon> {{offer.location}}</h4>
        <h4 class="mod" float="right"><ion-icon name='md-cash' color="secondary" is-active="false"></ion-icon> {{offer.price}} </h4>

        <p class="mensaje" *ngIf="!offer.state">
          Oferta a la espera de aceptación
        </p>
        <p class="mensaje" *ngIf="offer.state == 'aceptada'">
          Oferta aceptada
        </p>

      </div>
      <div class="second">
        <h4><ion-icon name='md-calendar' is-active="false"></ion-icon> {{offer.start_date}}</h4>
        <h4><ion-icon name='md-calendar' is-active="false"></ion-icon> {{offer.end_date}}</h4>
        <h4><ion-icon name='md-time' is-active="false"></ion-icon> {{offer.availability}}</h4>
      </div>
      <form>
      <div class="star-rating" *ngIf="current_date >= offer.start_date">
        <a href="#" [style.color]="offer.teacherAppreciation >= 1 ? 'yellow' : 'grey'" title="Votar con 1 estrellas" (click)="addAppreciation(offer.id, 1)">&#9733;</a>
        <a href="#" [style.color]="offer.teacherAppreciation >= 2 ? 'yellow' : 'grey'" title="Votar con 2 estrellas" (click)="addAppreciation(offer.id, 2)">&#9733;</a>
        <a href="#" [style.color]="offer.teacherAppreciation >= 3 ? 'yellow' : 'grey'" title="Votar con 3 estrellas" (click)="addAppreciation(offer.id, 3)">&#9733;</a>
        <a href="#" [style.color]="offer.teacherAppreciation >= 4 ? 'yellow' : 'grey'" title="Votar con 4 estrellas" (click)="addAppreciation(offer.id, 4)">&#9733;</a>
        <a href="#" [style.color]="offer.teacherAppreciation >= 5 ? 'yellow' : 'grey'" title="Votar con 5 estrellas" (click)="addAppreciation(offer.id, 5)">&#9733;</a>
      </div>
      </form>

    </ion-item>
    <br>
  </ion-list>
</ion-content>
