<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='ios-school'></ion-icon>  Particulary</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <img src="assets/imgs/logo.png" class="gsad-icon"/>

  <div class="text" align="left">
    <h3 class="p1">Este es el MVP de Particulary. </h3>
    <p class="p2">En esta pantalla encontrarás la opción de logearte como alumno y como profesor,
      para poder así acceder a las diferentes funcionalidades dependiendo del rol.</p>
    <p class="p3">Como profesor puedes crear ofertas, editar tus datos y añadir experiencias
      a tu perfil.</p>
    <p class="p4">Como alumno podrás acceder a la lista de ofertas disponibles, inscribirte a las que desees y modificar tu perfil.</p>
  </div>

  <ion-item *ngIf="this.aux==true">
    <button ion-button color="secondary" (click)="loginAsTeacher()">
      Loggeado como profesor
    </button>
    <br>
    <br>
    <button ion-button (click)="loginAsAlum()">
      Acceder como alumno
    </button>
  </ion-item>
  <ion-item *ngIf="this.aux==false">
    <button ion-button (click)="loginAsTeacher()">
      Acceder como profesor
    </button>
    <br>
    <br>
    <button ion-button color="secondary" (click)="loginAsAlum()">
      Loggeado como alumno
    </button>
  </ion-item>

 <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
