<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='ios-school' is-active="false"></ion-icon> Clases</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="search" [formGroup]="searchForm">
    <ion-input class="busqueda" formControlName="name" type="text" (keyup)="reloadOffers()" placeholder="Buscar clases"></ion-input>
    <ion-input class="busqueda" formControlName="tags" type="text" (keyup)="reloadOffers()" placeholder="Buscar por tags"></ion-input>
  </div>

  <ion-list>
    <ion-item *ngFor="let offer of offers">
      <div class="first">
        <button class="prof" *ngIf="offer.teacher" (click)="displayTeacher(offer.teacher.id)"><ion-icon name='ios-school' is-active="false"></ion-icon> {{offer.teacher.name}}</button>
        <h4><ion-icon name='ios-book' is-active="false"></ion-icon> {{offer.name}}</h4>
        <h4 float="right"><ion-icon name='ios-pin' color="danger" is-active="false"></ion-icon> {{offer.location}}</h4>
        <h4 float="right"><ion-icon name='md-cash' color="secondary" is-active="false"></ion-icon> {{offer.price}} </h4>
        <h4>
          <ion-item ion-item *ngFor="let tag of offer.tags">
            <ion-icon name='ios-book' is-active="false"></ion-icon> {{tag.name}}
          </ion-item>
        </h4>
      </div>
      <div class="second">
        <h4><ion-icon name='md-calendar' is-active="false"></ion-icon> {{offer.start_date}}</h4>
        <h4><ion-icon name='md-calendar' is-active="false"></ion-icon> {{offer.end_date}}</h4>
        <h4><ion-icon name='md-time' is-active="false"></ion-icon> {{offer.availability}}</h4>
      </div>

      <div class="firt">
        <button class="botones" title="Contratar" ion-button (click)="applyOffer(offer)" clear icon-only>
          <ion-icon name='md-briefcase' is-active="false"></ion-icon>
        </button>
        <button class="comprar" ion-button title="Enviar mensaje" (click)="addMessageAlum(offer.teacher_id)" clear icon-only>
          <ion-icon name='md-text' is-active="false"></ion-icon>
        </button>
      </div>
    </ion-item>
    <br>
  </ion-list>

</ion-content>
