all-offers {

  .busqueda {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 3px;
    width: 270px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 30px;
    background-image: url("../../assets/imgs/search.png");
    background-size: 15px;
    background-position: 12px 14px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.3s ease-in-out;
  }

  label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-top: 10px;
  }

  .rango{
    display: inline;
    margin-left: -190px;
    overflow: hidden;
  }

  .izq{float: left;
    margin-left: -190px;
    margin-top: 5px;
  }

  .der{float: left;
    margin-left: -200px;
    margin-top: 4px;
    }

  .min {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
  }

  .textmin{
    float: left;}

  .max {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    display: inline-block;
    float: right;
    margin-left: 10px;
  }

  .textmax{float: right;}

  .prof {
    background: none;
    size: auto;
    color: #488aff;
    margin-left: -6px;
    margin-bottom: 15px;
  }

  .button {
    bottom: 0;
    margin-bottom: 0;
    height: 6em;
  }

  ion-item:last-child {
    margin-bottom: 5em;
  }

  .botones {
    margin-top: 20px;
    float: left;
    color: darkorange;
    margin-left: 16px;
  }

  .comprar {
    margin-top: 24px;
    float: left;
    color: mediumseagreen;
    margin-right: 20px;
    margin-right: -50px;
    margin-left: 10px;
  }

  ion-list .item .item-inner {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    margin-right: 20px;
    background-color: white;
    resize: none;
    border: 4px solid #488aff;

  }

  ion-list .item .first .icon {
    margin-left: 15px;
  }

  .first {
    float: left;
    margin-left: 5px;
    width: 100%;
  }

  .area{
    resize: none;
    width: 90%;
    border: 0px;
  }
  .icon{
    float: left;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 5px;
  }
  .icon1{
    float: left;
    margin-top: -2px;
    margin-left: 8px;
    margin-right: 5px;
  }

  .second{
    float: right;
  }
}
