<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name='md-chatbubbles' is-active="false"></ion-icon>
      Mensajes
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <fieldset class="first">
        <h4 float="right" class="email">
          <ion-icon name='md-person' color="black" is-active="false"></ion-icon>
          <span *ngIf="message.teacher">{{ message.teacher.email }}</span>
          <span *ngIf="message.alum">{{ message.alum.email }}</span>
        </h4>
        <h4 class="message">
          <ion-icon name='md-text' is-active="false"></ion-icon>
          {{message.text}}
        </h4>

      </fieldset>
      <span *ngIf="message.alum"> <button class="botonfinal" *ngIf="this.showButton==true" style="height: 30px"
                                          ion-button round (click)="addMessageT(message.alum_id)">
           <ion-icon name="md-send"></ion-icon>  Responder
        </button> </span>
      <span *ngIf="message.teacher"> <button class="botonfinal" *ngIf="this.showButton==true" ion-button round (click)="addMessageA(message.teacher_id)">
        <ion-icon name="md-send"></ion-icon>  Responder
        </button> </span>
    </ion-item>
  </ion-list>
</ion-content>
