my-messages{

  ion-list {
    width: 100%;
    position: relative;

    ion-item:last-child {
      margin-bottom: 5em;
    }

    .first {
      box-sizing: border-box;
      border-radius: 5px;
      margin-top: 5px;
      background-color: #bdedc1;
      resize: none;
      border: 0px solid #40A348;
      height: 100%;
      width: 100%;

      h4 {
        padding: 5px 5px 0px 5px;
        margin-left: 2px;
        width: 90%;
      }
      .area{
        background-color: #bdedc1;
        margin-left: 8px;
        .icon-message {
          float: left;
        }
        textarea{
          resize: none;
          background-color: #bdedc1;
          border: 0px solid #bdedc1;
        }
      }

      .email {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 16px;
        width: 88%;
      }

      .message {
        font-family: inherit;
        font-size: 16px;
        margin-bottom: 8px;
        overflow-y:auto;
        width: 88%;
      }
    }

    .botonfinal {
      position: relative;
      width: 99.5%;
      height: 30%;
      padding: 18px;
      font-weight: 500;
      font-size: 18px;
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 10px;
      background: #40A348;
    }

    .botonfinal:hover {
      background: #176B1E;
    }
  }
}
