<ion-menu [content]="content" id="leftMenu">
  <ion-header >
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>


    <ion-list  no-lines particulary_sidebar class="user-sidebar">
      <button menuClose ion-item *ngFor="let p of pages" (click)="goToPage(p)">
        <ion-icon name="{{ p.icon }}"></ion-icon>
        <span>{{p.title}}</span>
      </button>
      <button *ngIf="points" ion-item>
        Puntos: {{points}}
      </button>
      <button menuClose ion-item (click)="logout()">
        <span>Log Out</span>
      </button>
      <br>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
