create-offer {
  .createOffer{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
  }
  .createOffer fieldset{
    border: none;
  }
  .createOffer legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  .createOffer ion-label {
    display: block;
    margin-bottom:10px;
  }
  .createOffer ion-input {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
  }
  .createOffer .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
  }
  .createOffer button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
  }

  .createOffer button:hover
  {
    background: #109177;
  }


  /*.button {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    height: 4em;
  }
  * {
    padding: 6px;
  }
  form {
    font-size: 12px;
    margin-bottom: 1em;
    .name-input {
      position: relative;
      ion-label{
        color: #488aff;
      }
      input{
        color: black;
      }
    }
    .place-input {
      position: relative;
      ion-label{
        color: #488aff;
      }
      input{
        color: black;
      }
    }
    .price-input {
      position: relative;
      ion-label{
        color: #488aff;
      }
      input{
        color: black;
      }
    }
    .start-date-input {
      ion-label{
        color: #488aff;
      }
      input{
        padding-top: 30px;
        padding-left: 20px;
        color: black;
      }
    }
    .end-date-input {
      position: relative;
      ion-label{
        color: #488aff;
      }
      input{
        padding-top: 30px;
        padding-left: 20px;
        color: black;
      }
    }
    .enter {
      width: 40%;
      height: 8%;
      text-decoration: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-weight: 200;
      font-size: 18px;
      color: #ffffff;
      background-color: #488aff;
      border-radius: 6px;
      border: 2px solid #1026C4;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-top: 30px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    .enter:hover {
      color: white;
      background-color: #77a8ff;
      border: 2px solid #1026C4;
    }
  }*/
}
