<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name='ios-school' is active="false"></ion-icon>
      Crear clase
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="createOffer">
  <form id="formulario" [formGroup]="createOfferForm" (ngSubmit)="createOffer()">
    <div class="createOffer">
      <fieldset>
        <legend><span class="number">1</span> Info Clase</legend>
        <ion-label>Título</ion-label>
        <ion-input type="text" formControlName="name" placeholder="Mín. 3 caracteres"></ion-input>
        <p color="danger" ion-text *ngIf="createOfferForm.get('name').hasError('minlength')">Mínimo 3 caracteres</p>
        <ion-label>Lugar</ion-label>
        <ion-input type="text" formControlName="location" placeholder="Mín. 6 caracteres"></ion-input>
        <p color="danger" ion-text *ngIf="createOfferForm.get('location').hasError('minlength')">Mínimo 6 caracteres</p>
      </fieldset>

      <fieldset>
        <legend><span class="number">2</span> Precio</legend>
        <ion-label>Por hora</ion-label>
        <ion-input type="number" formControlName="price" min="0"></ion-input>
        <p color="danger" ion-text *ngIf="createOfferForm.get('price').hasError('min')">No puede ser negativo</p>
      </fieldset>

      <fieldset>
        <legend><span class="number">3</span> Máximo de horas</legend>
        <ion-input type="number" formControlName="max_hours" min="0"></ion-input>
        <p color="danger" ion-text *ngIf="createOfferForm.get('max_hours').hasError('min')">No puede ser negativo</p>
      </fieldset>

      <fieldset>
        <legend><span class="number">4</span> Fecha</legend>
        <ion-label>Inicio</ion-label>
        <ion-datetime class="date" formControlName="start_date"></ion-datetime>
        <ion-label>Fin</ion-label>
        <ion-datetime class="date" formControlName="end_date"></ion-datetime>
      </fieldset>

      <button class="enter" ion-button round type="submit" [disabled]="!createOfferForm.valid">Crear</button>
    </div>

  </form>
</ion-content>
