my-experiences {

  .button {
    bottom: 0;
    margin-bottom: 0;
    height: 4em;
  }

  ion-item:last-child {
    margin-bottom: 5em;
  }

  .botones{float:right;}

  .botonfinal{
    position:sticky;
    width: 100%;
    height: 8%;
    padding:18px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    background-color: #f9c00f;
    margin:5px;
  }

  .botonfinal:hover{
    color: white;
    font-weight: 500;
    background-color: #FFDC3E;
  }

  ion-list .item .item-inner{
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    resize: none;
    border: 4px solid #f9c00f;
    .uno {
      padding-top: 4px;
    }
    h4{
      width: 100%;
      overflow: auto;
    }
  }

  ion-list .item .icon {
    margin-left: 15px;
  }


}
