<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='md-ribbon' is-active="false"></ion-icon> Experiencias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let experience of experiences">
      <h4 class="uno"><ion-icon name='ios-school' color="" is-active="false"></ion-icon> {{experience.name}}</h4>
      <h4><ion-icon name='ios-quote' is-active="false"></ion-icon> {{experience.description}}</h4>
      <h4><ion-icon name='md-calendar' is-active="false"></ion-icon> {{experience.date}}</h4>
      <button class="botones" title="Delete" ion-button color="danger" (click)="deleteExperience(experience)" clear icon-only>
        <ion-icon name='trash' is-active="false"></ion-icon>
      </button>
      <button class="botones" title="Edit" ion-button (click)="editExperience(experience)" clear icon-only>
        <ion-icon name='md-create' is-active="false"></ion-icon>
      </button>
    </ion-item>
    <br>
  </ion-list>
  <button class="botonfinal" *ngIf="this.showButton==true" ion-button round (click)="addExperience()">Añadir experiencia</button>

</ion-content>
