<!--
  Generated template for the EditTeacherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='ios-school' is-active="false"></ion-icon> Profesor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="guay">
  <div class="guay">

      <div class="photo">
        <img src="assets/imgs/student-hat.png"/>
      </div>
      <div class="evaluate">
        <img *ngIf="star == 1" src="assets/imgs/1.png">
        <img *ngIf="star == 2" src="assets/imgs/2.png">
        <img *ngIf="star == 3" src="assets/imgs/3.png">
        <img *ngIf="star == 4" src="assets/imgs/4.png">
        <img *ngIf="star == 5" src="assets/imgs/5.png">
        <img *ngIf="star == 6" src="assets/imgs/6.png">
        <img *ngIf="star == 7" src="assets/imgs/7.png">
        <img *ngIf="star == 8" src="assets/imgs/8.png">
        <img *ngIf="star == 9" src="assets/imgs/9.png">
        <img *ngIf="star == 10" src="assets/imgs/10.png">
      </div>
      <fieldset>
        <legend><span class="number"><ion-icon name="ios-person"></ion-icon></span> Info Principal</legend>

        <div class="name-input">
          <ion-label><ion-icon name='md-brush'></ion-icon> Nombre</ion-label>
          <p>{{teacher.name}}</p>
        </div>

        <div class="surname-input">
          <ion-label><ion-icon name='md-brush'></ion-icon> Apellidos</ion-label>
          <p>{{teacher.surname}}</p>
        </div>

        <div class="email-input">
          <ion-label><ion-icon name='md-mail' color="danger"></ion-icon> Email</ion-label>
          <p>{{teacher.email}}</p>
        </div>

        <div class="address-input">
          <ion-label><ion-icon name='ios-pin' color="danger"></ion-icon> Dirección</ion-label>
          <p>{{teacher.address}}</p>
        </div>

      </fieldset>
      <fieldset>
        <legend><span class="number"><ion-icon name="md-add"></ion-icon></span> Info Adicional</legend>
        <div class="link-input">
          <ion-label><ion-icon name='md-at' color="danger" ></ion-icon> Perfil profesional</ion-label>
          <a href="{{teacher.linkedin}}">{{teacher.linkedin}}</a>
        </div>
        <div class="bio-input">
          <ion-label><ion-icon name='ios-book'></ion-icon> Biografía</ion-label>
          <p>{{teacher.bio}}</p>
        </div>

      </fieldset>
      <fieldset >
        <legend><span class="number"><ion-icon name="md-ribbon"></ion-icon></span> Experiencias</legend>
          <ion-list class="third">
            <ion-item *ngFor="let experience of teacher.experiences">
              <p><ion-icon name='ios-school' color="" is-active="false"></ion-icon> {{experience.name}}</p>
              <p><ion-icon name='ios-quote' is-active="false"></ion-icon> {{experience.description}}</p>
              <p><ion-icon name='md-calendar' is-active="false"></ion-icon> {{experience.date}}</p>
            </ion-item>
          </ion-list>
      </fieldset>
  </div>
</ion-content>
