<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="ios-card"></ion-icon> Pago
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="createPaymentForm" (ngSubmit)="createPayment()">

    <fieldset>
      <legend><span class="number">1</span> Datos de la tarjeta</legend>
    <ion-label>Número de tarjeta</ion-label>
    <ion-input type="text" formControlName="number" placeholder="Min. 3 caracteres"></ion-input>

    <ion-label>CVC</ion-label>
    <ion-input type="text" formControlName="cvc" placeholder="Min. 3 caracteres"></ion-input>

    <ion-label>Mes de expiración</ion-label>
    <ion-input type="text" formControlName="exp_month" placeholder="Min. 3 caracteres"></ion-input>

    <ion-label>Año de expiración</ion-label>
    <ion-input type="text" formControlName="exp_year" placeholder="Min. 3 caracteres"></ion-input>
    </fieldset>
    
    <fieldset>
      <legend><span class="number">2</span> Descuento</legend>
      <ion-select formControlName="discount">
        <ion-option *ngIf="points >= 12500" value="12500">5 €</ion-option>
        <ion-option *ngIf="points >= 25000" value="25000">10 €</ion-option>
      </ion-select>
    </fieldset>


    <button class="enter" ion-button round type="submit" [disabled]="!createPaymentForm.valid">Crear</button>
  </form>
</ion-content>
